GEMINI_API_KEY=
OLLAMA_BASE_URL=
OLLAMA_MODEL=
ORVILLE_ALLOWED_ORIGINS=
ORVILLE_API_HOST=
ORVILLE_API_PORT=
ORVILLE_API_TOKEN=
ORVILLE_BLACKBOX_API_KEY=
ORVILLE_BLACKBOX_BASE_URL=
ORVILLE_BLACKBOX_MODEL=
ORVILLE_BLACKBOX_RELAY_ALLOWED_HOSTS=
ORVILLE_BLACKBOX_RELAY_ENABLED=
ORVILLE_BLACKBOX_RELAY_MODEL=
ORVILLE_BLACKBOX_RELAY_PLAN=
ORVILLE_BLACKBOX_RELAY_URL=
ORVILLE_DB_PATH=
ORVILLE_DOMAIN=
ORVILLE_GEMINI_API_KEY=
ORVILLE_GEMINI_BASE_URL=
ORVILLE_GEMINI_MODEL=
ORVILLE_MCP_HOST=
ORVILLE_MCP_MUTATIONS_ENABLED=
ORVILLE_MCP_PORT=
ORVILLE_OLLAMA_BASE_URL=
ORVILLE_OLLAMA_MODEL=
ORVILLE_PORTABLE=
ORVILLE_RELAY_SUBJECT=
ORVILLE_REQUESTS_PER_MINUTE=
ORVILLE_REST_URL=
ORVILLE_STABLE_HORDE_API_KEY=
ORVILLE_STABLE_HORDE_BASE_URL=
ORVILLE_STABLE_HORDE_MODEL=
ORVILLE_STORAGE=